.navbar.navbar-inverse
  .navbar-header
    %button.navbar-toggle{'data-target' => '.navbar-inverse-collapse', 'data-toggle' => 'collapse', :type => 'button'}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t('application.mooveit'), root_path, class: 'navbar-brand'
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{'aria-expanded' => 'true', 'data-toggle' => 'dropdown'}
          = t('application.index.items')
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to t('application.new_item'), new_item_path
          %li
            = link_to t('.manage'), items_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to t('application.logout'), destroy_user_session_path, method: :delete
    %form.navbar-form.navbar-right{'action' => 'items/search'}
      %input.form-control.col-lg-7{id: 'search_field', placeholder: 'Search', type: 'text'}