= render 'nav'
.container
  %h1
    .text-center
      = @item.name
  .jumbotron
    = @item.description
    %br
    = @item.location
    .text-right
      = image_tag(@item.avatar)
    .item-action
      = link_to image_tag('edit.jpeg'), edit_item_path(@item.name)
      = link_to image_tag('recycle_bin.jpg'), @item, method: :delete, data: { confirm: t('.sure') }
  .text-center
    %h2
      = t('.print')
    = image_tag(@item.qr_code)
    %p
    = image_tag('print.jpeg', id: 'print_img')